.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 100%;
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: rgb(138, 179, 255);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  -moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 0.493);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.493);
  box-shadow:         inset 0 0 10px rgba(0, 0, 0, 0.493);
}

.chart-bar__fill {
  background-color: #297ce9;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 0.5rem;
  text-align: center;
}
.margin_amount{
  font-size: 12px;
}